Repository plasma-group/pigi, pull requests merged in 2019-07, with the labels that each got.

#319 Add range bucket iterator
  packages/core/src/app/db/iterator.ts
  packages/core/src/app/db/range-bucket.ts
  packages/core/src/types/db/db.interface.ts
  packages/core/src/types/db/range-db.interface.ts
  packages/core/test/app/db/range-bucket.spec.ts
Labels: @pigi/core, enhancement

#366 Add integer quantifiers
  packages/core/src/app/ovm/index.ts
  packages/core/src/app/ovm/integer-quantifiers.ts
  packages/core/src/types/ovm/index.ts
  packages/core/test/app/ovm/integer-quantifiers.spec.ts
Labels: ovm

#365 [WIP] Figuring Out Decider Persistence and HashPreimageExistenceDecider
  packages/core/package.json
  packages/core/src/app/db/iterator.ts
  packages/core/src/app/ovm/deciders/hash-preimage-existence-decider.ts
  packages/core/src/app/ovm/deciders/index.ts
  packages/core/src/app/ovm/deciders/key-value-store-decider.ts
  packages/core/src/app/ovm/deciders/utils.ts
  packages/core/src/app/ovm/integer-quantifiers.ts
  packages/core/src/app/utils/crypto.ts
  packages/core/src/types/ovm/decider.interface.ts
  packages/core/src/types/ovm/quantifier.interface.ts
  packages/core/test/app/ovm/deciders/hash-preimage-existence-decider.spec.ts
  packages/core/test/app/ovm/integer-quantifiers.spec.ts
  yarn.lock
Labels: WIP
