Repository plasma-group/pigi, pull requests merged in 2019-06, with the labels that each got.

#254 Linting and getting tests passing
  README.md
  packages/contracts/package.json
  packages/contracts/test/BasicTokenMock.spec.ts
  packages/operator/package.json
  packages/operator/src/app/db/range-db.ts
  packages/operator/src/app/state-manager/ownership-state.ts
  packages/operator/src/app/utils.ts
  packages/operator/src/interfaces/db/range-db.interface.ts
  packages/operator/test/unit/range-db.spec.ts
  packages/plasma-js/package.json
  packages/predicates/package.json
  packages/predicates/src/ownership/transaction.ts
  packages/predicates/test/ownership/transaction.spec.ts
  packages/utils/package.json
  packages/utils/src/data-types/index.ts
  packages/utils/src/data-types/state-object.ts
  packages/utils/src/index.ts
  packages/utils/src/interfaces/data-types.ts
  packages/utils/src/interfaces/index.ts
  packages/vyper-js/package.json
  packages/watch-eth/index.ts
  packages/watch-eth/package.json
  packages/watch-eth/src/eth-provider.ts
  packages/watch-eth/src/event-db.ts
  packages/watch-eth/src/event-watcher.ts
  packages/watch-eth/src/interfaces/event-log.interface.ts
  packages/watch-eth/src/models/event-filter.ts
  packages/watch-eth/src/models/event-log.ts
  packages/watch-eth/src/utils.ts
  yarn.lock
Labels: @pigi, cleanup

#273 Fixed various code quality issues
  README.md
  packages/contracts/README.md
  packages/operator/README.md
  packages/predicates/README.md
  packages/types/tsconfig.json
  packages/utils/README.md
  packages/vyper-js/README.md
  packages/watch-eth/README.md
Labels: cleanup

#274 Update limbo-exit-predicate.rst
  packages/docs/src/spec/src/02-contracts/limbo-exit-predicate.rst
Labels: @pigi/docs

#276 235 - Implementing StateManager.executeTransaction(...)
  packages/core/package.json
  packages/core/src/app/client/index.ts
  packages/core/src/app/client/state-db.ts
  packages/core/src/app/client/state-manager.ts
  packages/core/src/app/common/utils/buffer-utils.ts
  packages/core/src/app/common/utils/index.ts
  packages/core/src/app/common/utils/range.ts
  packages/core/src/app/common/utils/type-guards.ts
  packages/core/src/app/index.ts
  packages/core/src/interfaces/client/index.ts
  packages/core/src/interfaces/client/plugin-manager.interface.ts
  packages/core/src/interfaces/client/predicate-plugin.interface.ts
  packages/core/src/interfaces/client/state-db.interface.ts
  packages/core/src/interfaces/client/state-manager.interface.ts
  packages/core/src/interfaces/common/utils/index.ts
  packages/core/src/interfaces/common/utils/range-store.interface.ts
  packages/core/src/interfaces/common/utils/state.interface.ts
  packages/core/src/interfaces/index.ts
  packages/core/test/app/client/state-manager.spec.ts
  packages/operator/src/app/db/range-db.ts
  packages/predicates/src/ownership/transaction.ts
  packages/predicates/test/ownership/transaction.spec.ts
Labels: @pigi/core

#277 Created WalletDB
  packages/core/package.json
  packages/core/src/app/client/wallet-db.ts
  packages/core/src/app/common/db/iterator.ts
  packages/core/src/interfaces/client/index.ts
  packages/core/src/interfaces/client/wallet-db.interface.ts
  packages/core/src/interfaces/common/eth/index.ts
  packages/core/src/interfaces/common/eth/keystore.interface.ts
  packages/core/src/interfaces/index.ts
  packages/core/test/app/client/wallet-db.spec.ts
  packages/core/test/setup.ts
  yarn.lock
Labels: @pigi/core

#284 Cleaned up old RPC server/client implementations
  packages/core/src/app/client/rpc-error-messages.ts
  packages/core/src/app/common/net/rpc/json-rpc/index.ts
  packages/core/src/app/common/net/rpc/json-rpc/json-rpc-client.ts
  packages/core/src/app/common/net/rpc/json-rpc/json-rpc-server.ts
  packages/core/src/app/core/net/index.ts
  packages/core/src/app/core/net/rpc-server.process.ts
Labels: @pigi/core, cleanup

#283 Added MerkleIntervalTree implementation
  .travis.yml
  packages/core/src/app/common/eth/utils.ts
  packages/core/src/app/common/utils/index.ts
  packages/core/src/app/common/utils/merkle-interval-tree.ts
  packages/core/src/app/common/utils/misc.ts
  packages/core/src/app/common/utils/sum-tree.ts
  packages/core/src/interfaces/common/utils/index.ts
  packages/core/src/interfaces/common/utils/merkle-interval-tree.interface.ts
  packages/core/test/app/common/eth/utils.spec.ts
  packages/core/test/app/common/utils/merkle-interval-tree.spec.ts
  packages/core/test/app/common/utils/sum-tree.spec.ts
Labels: @pigi/core

#286 Implemented Wallet
  packages/core/src/app/client/index.ts
  packages/core/src/app/client/wallet-db.ts
  packages/core/src/app/client/wallet.ts
  packages/core/src/interfaces/client/index.ts
  packages/core/src/interfaces/client/wallet-db.interface.ts
  packages/core/src/interfaces/client/wallet.interface.ts
  packages/core/test/app/client/wallet-db.spec.ts
  packages/core/test/app/client/wallet.spec.ts
Labels: @pigi/core

#271 Removed @pigi/operator in favor of singular @pigi/core
  packages/core/index.ts
  packages/core/package.json
  packages/core/src/app/common/db/index.ts
  packages/core/src/app/common/db/range-db.ts
  packages/core/src/interfaces/common/db/index.ts
  packages/core/src/interfaces/common/db/range-db.interface.ts
  packages/core/test/app/common/db/range-db.spec.ts
  packages/core/test/setup.ts
  packages/core/tsconfig.json
  packages/operator/.prettierrc.js
  packages/operator/README.md
  packages/operator/index.ts
  packages/operator/package.json
  packages/operator/src/app/constants/db-defaults.ts
  packages/operator/src/app/constants/db-prefixes.ts
  packages/operator/src/app/constants/index.ts
  packages/operator/src/app/constants/rpc-methods.ts
  packages/operator/src/app/constants/serialization.ts
  packages/operator/src/app/exceptions/index.ts
  packages/operator/src/app/exceptions/messages.ts
  packages/operator/src/app/exceptions/runtime.exception.ts
  packages/operator/src/app/exceptions/server-already-started.exception.ts
  packages/operator/src/app/state-manager/ownership-state.ts
  packages/operator/test/setup.ts
  packages/operator/test/unit/state.spec.ts
  packages/operator/tsconfig.json
  packages/operator/tslint.json
  yarn.lock
Labels: @pigi/core, @pigi/operator, cleanup

#288 Added TypeScript path aliases
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tslint.json
  yarn.lock
Labels: @pigi/core

#302 Move rangedb into a BaseDB bucket
  packages/core/src/app/db/bucket.ts
  packages/core/src/app/db/db.ts
  packages/core/src/app/db/index.ts
  packages/core/src/app/db/range-bucket.ts
  packages/core/src/app/utils/buffer.ts
  packages/core/src/types/db/db.interface.ts
  packages/core/src/types/db/range-db.interface.ts
  packages/core/test/app/db/range-bucket.spec.ts
Labels: @pigi/core, cleanup

#303 Adding in-memory plasma block generation
  packages/core/src/app/block-production/index.ts
  packages/core/src/app/block-production/merkle-interval-tree.ts
  packages/core/src/app/block-production/plasma-block-tree.ts
  packages/core/src/app/block-production/state-interval-tree.ts
  packages/core/src/types/block-production.types.ts
  packages/core/test/app/block-production/merkle-interval-tree.spec.ts
Labels: @pigi/core

#313 Add interfaces and improve block generation code
  packages/contracts/contracts/CommitmentChain.sol
  packages/contracts/contracts/DataTypes.sol
  packages/contracts/test/Deposit.spec.ts
  packages/core/src/app/block-production/merkle-interval-tree.ts
  packages/core/src/app/block-production/plasma-block-tree.ts
  packages/core/src/app/block-production/state-interval-tree.ts
  packages/core/src/app/constants/index.ts
  packages/core/src/app/index.ts
  packages/core/src/types/block-production.types.ts
  packages/core/test/app/block-production/merkle-interval-tree.spec.ts
Labels: @pigi/core
